<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>administração</title>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="container" id="cadastro">
        <form action="/edicao"  method="post" class="col-6" enctype="multipart/form-data">
            <div class="form-group">
                <label for="ano">ano</label>
                <input type="text"  class="form-control" placeholder="titulo" id="ano" name="ano">
            </div>
            <div class="form-group">
                <label for="numero">numero</label>
                <input type="text"  class="form-control" placeholder="" id="numero" name="numero">
            </div>
            <div class="form-group">
                <label for="valor">valor</label>
                <input type="text"  class="form-control" placeholder="" id="valor" name="valor">
            </div>
            <select id="livro" th:object="${livro}" th:field="*{id}"  class="form-control">
                <option th:each="l : ${livros}" th:text="${l.titulo}" th:value="${l.id}"></option>
            </select>
            <select id="editora" th:object="${editora}" th:field="*{id}"  class="form-control">
                <option th:each="ed : ${editoras}" th:text="${ed.nome}" th:value="${ed.id}"></option>
            </select>
            <div>
                <input type="file" name="file" multiple="multiple">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

</div>

</body>
</html>