<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>administração</title>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <div class="container" id="cadastro">
        <form action="/livro/tecnico" method="post" class="col-6" enctype="multipart/form-data">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" placeholder="titulo" id="titulo" name="titulo">
            </div>
            <div class="form-group">
                <label for="idioma">idioma</label>
                <input type="text" class="form-control" placeholder="" id="idioma" name="idioma">
            </div>
            <div class="form-group">
                <label for="areaAtuacao">area atuacao</label>
                <input type="text" class="form-control" placeholder="" id="areaAtuacao" name="areaAtuacao">
            </div>
            <div class="form-group">
                <label for="genero">Nome do autor</label>
                <input type="text" class="form-control" placeholder="" id="nome" name="nome">
            </div>
            <div class="form-group">
                <label for="genero">Biografia</label>
                <input type="text" class="form-control" placeholder="" id="biografia" name="biografia">
            </div>
            <div class="form-group">
                <label for="genero">data de nascimento</label>
                <input type="text" class="form-control" placeholder="" id="dataNascimento" name="dataNascimento">
            </div>
            <div class="form-group">
                <label for="genero">genero</label>
                <input type="text" class="form-control" placeholder="" id="genero" name="genero">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

</div>

</body>
</html>