<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>carrinho de compras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<table id="listapizzas" class="table table-bordered">
    <thead>
    <tr>
        <th>Livros</th>
        <th>Preço</th>
        <th>Quantidade</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="edicao : ${edicoes}" name="listaEdicoes" >
        <td th:text="${edicao.livro.titulo}"></td>
        <td th:text="${edicao.valor}"></td>
        <td th:text="${edicao.quantidade}"> </td>
        <td><a class="btn btn-secondary" th:href="@{/carrinho/alterarQuantidade/{id}/{acao}(id=${edicao.id},acao=${1})}"  role="button">+</a>
            <a class="btn btn-secondary" th:href="@{/carrinho/alterarQuantidade/{id}/{acao}(id=${edicao.id},acao=${0})}"  role="button">-</a></td>
        <td><a class="btn btn-danger" th:href="@{/carrinho/remover/{id}(id=${edicao.id})}"  role="button">remove</a></td>

    </tr>

    </tbody>
</table>
<p>Valor total : <span th:text="${valorTotal}"></span></p>
<p>Valor total : <span th:text="${valorTotal}"></span></p>
<p>Valor total : <span th:text="${valorTotal}"></span></p>

<form action="/carrinho/frete" method="post" class="col-3" style="float: right">
    <div class="form-group">
        <label for="sCepDestino">informe o cep</label>
        <input type="text" class="form-control" placeholder="CEP" id="sCepDestino" name="sCepDestino">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nCdEmpresa" name="nCdEmpresa" value="">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="sDsSenha" name="sDsSenha" value="">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nCdServico" name="nCdServico" value="04510">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="sCepOrigem" name="sCepOrigem" value="08090284">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nVlPeso" name="nVlPeso" value="1">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nCdFormato" name="nCdFormato" value="1">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nVlComprimento" name="nVlComprimento" value="55">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nVlAltura" name="nVlAltura" value="60">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nVlLargura" name="nVlLargura" value="60">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nVlDiametro" name="nVlDiametro" value="20">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="sCdMaoPropria" name="sCdMaoPropria" value="S">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="nVlValorDeclarado" name="nVlValorDeclarado" value="0">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" placeholder="" id="sCdAvisoRecebimento" name="sCdAvisoRecebimento" value="N">
    </div>
    <button type="submit" class="btn btn-primary">CONSULTAR</button>

</form>


</body>
</html>