<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body >
<h2>Hello <span th:text="${edicao.livro.titulo}"></span></h2>


<a th:href="@{/carrinho/adicionar/{id}(id = ${edicao.id})}" class="btn btn-info" role="button">Adicionar ao carrinho</a>

<div th:each="imagem : ${edicao.imagens}">
<img th:src="@{/edicao/one/{id}/{imagem}(id =${edicao.id} , imagem =${imagem})}" alt="imagem">
</div>
<a th:href="@{/carrinho}" class="btn btn-info" role="button">ir para o carrinho</a>

</body>
</html>