<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body >
<h2>Hello <span th:text="${edicao.livro.titulo}"></span></h2>


<a th:href="@{/carrinho/adicionar/{id}(id = ${edicao.id})}" class="btn btn-info" role="button">Adicionar ao carrinho</a>

<div th:each="imagem : ${edicao.imagens}">
<img th:src="@{/edicao/one/{id}/{imagem}(id =${edicao.id} , imagem =${imagem})}" alt="imagem">
</div>
<div id="caracteristicas">

    <ul class="list-group">
        <li class="list-group-item" th:text="${edicao.ano}"></li>
        <li class="list-group-item" th:text="${edicao.editora}"></li>
        <li class="list-group-item" th:text="${edicao.numero}"></li>
<!--        <ul class="list-group" >-->
        <li class="list-group-item" th:each="autor : ${edicao.livro.autores}"> <span th:text="${autor.nome}"></span></li>
<!--        </ul>-->
    </ul>

</div>
<a th:href="@{/carrinho}" class="btn btn-info" role="button">ir para o carrinho</a>
<div class="container">
    <h2>Caracteristicas</h2>
    <table class="table">

        <tbody>
        <tr>
            <td>ano de lançamento</td>
            <td th:text="${edicao.ano}"></td>
        </tr>
        <tr>
            <td>editora</td>
            <td th:text="${edicao.editora}"></td>
        </tr>
        <tr>
            <td>numero da edição</td>
            <td th:text="${edicao.numero}"></td>
        </tr>
        <tr>
            <td>autores</td>
            <td th:each="autor : ${edicao.livro.autores}">
                <span th:text="${autor.nome}"></span>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>