<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--<div th:each="livro : ${livros}" class="card" style="width: 15rem;">-->
<!--    <img class="card-img-top" th:src="@{/livro/all/{imagem}(imagem = ${livro.imagens[0]})}" alt="Card image cap" style="width: 15rem;; height: 15rem;">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title" th:text="${livro.titulo}"></h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->
<!--</div>-->
<div th:each="edicao: ${edicoes}" class="card" style="width: 15rem;">
    <img class="card-img-top" th:src="@{/edicao/{imagem}(imagem = ${edicao.imagens[0]})}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" th:text="${edicao.livro.titulo}"></h5>
        <p class="card-text">Some quick example text to </p>
        <a th:href="@{/edicao/one/{id}(id= ${edicao.id})}" class="btn btn-primary">Comprar</a>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>