<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”>
<head>
    <title>administração</title>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="btn btn-dark navbar-toggle pull-left">
                    <i class="oi oi-menu"></i>
                </button>
                <a class="navbar-brand " href="#">Painel Administrativo da Loja Virtual</a>
            </div>
        </div>
    </nav>
</header>

<div class="layout-main">

    <aside>
        <nav class="sidebar sidebar-open">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link " href="/"> <i
                        class="oi oi-home"></i> <span>Home</span>
                </a></li>
            </ul>

            <ul class="nav nav-pills">
                <li class="nav-item"><span class="nav-link active">livros</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/livraria/livrof"> <i class="oi oi-plus"></i> <span>cadastrar livro ficcao</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/livraria/livrot"> <i class="oi oi-plus"></i> <span>cadastrar livro tecnico</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/livraria/edicao"> <i class="oi oi-plus"></i> <span>cadastrar edicao</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/livraria/livrof"> <i class="oi oi-plus"></i> <span>cadastrar autor</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/usuarios/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <section class="layout-content" layout:fragment="corpo">
    principal
    </section>

</div>
<footer class="layout-footer">
    <div class="container">
        <span class="footer-copy">&copy; 2020.</span>
    </div>
</footer>

</body>
</html>